{% extends "main.html"%}
{% block content %}
<h1>ROOM TEMPLATE</h1>
<div>
   <h1> {{rumm.name}}</h1>

   <p>{{rumm.description}}</p>
</div>
<div class="comment-wrapper">
    <h3>Conversationss</h3>
    <hr>
    {% for message in room_messages %}
          <div>
              <small>@{{message.user}} {{message.created | timesince}} </small>
              <p>{{message.body}}</p>
              <hr>
          </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="commet-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="WWrite your message here"/>
    </form>

</div>
{% endif %}
{% endblock content %}
